.userItem {
    align-items: center;
    background-color: var(--background-lighter);
    border-bottom: 1px solid var(--background-lightest);
    color: hsl(15, 10%, 92%);
    display: flex;
    padding: 0.5rem 1rem 0.75rem 1rem;
}

.roomContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    .userItem {
        background-color: inherit;
        border-bottom: 1px solid hsl(20, 13%, 19%);
        padding: 0.25rem 1rem;
        text-indent: 0.75rem;
    }

    .userItem:hover {
        background-color: hsl(30, 8%, 12%);
        cursor: pointer;
    }
}

