.header {
    background-color: hsl(30, 10%, 11%);
    box-shadow: 0px 2px 8px 6px hsla(30, 13%, 6%, 0.5);
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.roomContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1rem;
}

.roomName {
    display: flex;
    font-size: 1.75rem;
    justify-content: space-between;
    margin: 0;
    padding: 0 1.5rem 0 3rem;
    width: 100%;
}

.roomName p {
    margin: 0;
}

.hashMark {
    font-weight: 300;
}

.username {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
}

.username svg {
    margin: 0 0.3rem 0 3rem;
}

.messagesContainer {
    padding: 4rem 1rem 2rem 1rem;
}

.messagesList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.messageItem {
    align-items: flex-start;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 0.5rem 0.25rem 0 0.25rem;
}

.myMessage {
    align-self: start;
    background-color: hsl(115, 62%, 45%);
    color: #222;
}

.recievedMessage {
    align-self: end;
    background-color: hsl(300, 83%, 27%);
}

.messageText {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 0 12px 0;
    padding: 0.25rem 0.5rem;
    text-align: left;
    word-break: break-word;
}

.messageDetails {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.messageSender {
    font-size: 0.75em;
    font-weight: 400;
    padding: 0 0 0.25rem 0.5rem;
    font-style: italic;
}

.messageTimestamp {
    font-size: 0.75em;
    font-weight: 400;
    padding: 0 0.5rem 0.25rem 0;
}

.footer {
    background-color: hsl(30, 10%, 11%);
    bottom: 0;
    opacity: 0.97;
    padding: 0.75rem;
    position: fixed;
    width: 100%;
}

.messageInputContainer {
    display: inline-flex;
    position: relative;
    width: 75%;
}

.messageInputField {
    background-color: hsl(30, 10%, 11%);
    border: 1px solid hsla(15, 10%, 92%, 0.178);
    border-radius: 0.3em;
    color: hsl(15, 10%, 92%);
    padding: 0.5rem 4.5rem 0.5rem 0.5rem;
    width: 100%;
}

.sendMessageButton {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: hsl(214, 90%, 62%);
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: color 0.2s ease;
}

.sendMessageButton:hover {
    color: hsl(204, 97%, 69%);
}

@media screen and (min-width: 1024px) {
    .messageItem {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .messagesContainer {
        padding: 4rem 4rem 2rem 4rem;
    }

    .messageInputContainer {
        width: 100%;
    }
    
    .messageInputField {
        width: 100%;
    }
    
    
    
}

